version: '3'
services: 
  wildcat:
    image: 3066199080400/wildcat-pavilion:dev
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_NAME: strapi_forum
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: chack3349@
    ports:
      - "1337:1337"
    volumes:
      - ./wildcat-pavilion:/src/wildcat-pavilion
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_DB: strapi_forum
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: chack3349@
    volumes:
      - db_data_dev:/var/lib/postgresql/data
volumes:
  db_data_dev:
