version: '3'
services: 
  strapi:
    image: wildcat-pavilion-backend-1.0
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_NAME: strapi_forum
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: chack3349@
    ports:
      - "1337:1337"
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_DB: strapi_forum
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: chack3349@
    volumes:
      - ./data:/var/lib/postgresql/data 
